@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Comfortaa", sans-serif;
}
@theme {
  --color-orangeish: #eeb2a9;
  --color-brownish: #762c2c;
  --color-greenish: #afc9bf;
  --color-depression: #b2acac;
  --color-yellowish: #f5e2cf;
  --color-anotheryellow: #faf1e7;
  --color-anothergreen: #afc9bf;
  --color-verylightgray: #d9d9d9;
  --color-verylightgreen: #d9e0de;
  --font-instrument: "Instrument Sans", sans-serif;
}
